{% extends 'base.html.twig' %}

{% block title %}Accueil patient{% endblock %}

{% block body %}

    <h1>Mes séjours</h1>

    <div class="row">

        {% if sejours is not empty %}
            <div class="col">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Date d'arrivée</th>
                        <th>Date de sortie</th>
                        <th>Motif</th>
                        <th>Spécialité</th>
                        {# <th>Medecin</th> #}
                    </tr>
                    </thead>
                    {% for sejour in sejours %}
                        <tr>
                            <td>{{ sejour.startDate|date('d/m/Y') }}</td>
                            <td>{{ sejour.endDate|date('d/m/Y') }}</td>
                            <td title="{{ sejour.reason }}">{{ sejour.reason|u.truncate(50, '...') }}</td>
                            <td>{{ sejour.medicalSpeciality }}</td>
                            {# <td>{{ sejour.doctorName }}</td> #}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="col">
                <div class="alert alert-info">
                    <h2 class="alert-heading"> Pas de séjours.</h2>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
