{% extends 'base.html.twig' %}

{% block title %}Entrées et sorties du jour{% endblock %}

{% block body %}
    <h1>Entrées et sorties du jour</h1>

    <h2>Entrées</h2>
    {% if entries is not empty %}
        <table class="table table-striped">

            <thead>
            <tr>
                <th>Nom</th>
                <th>Spécialité</th>
                <th>Statut</th>
                <th>Dossier</th>
            </tr>
            </thead>
            {% for stay in entries %}
                <tr>
                    <td>{{ stay.patient.fullName }}</td>
                    <td>{{ stay.medicalSpeciality }}</td>
                    <td>{% if stay.checkin %}
                            faite
                        {% else %}
                            <a
                                    href="{{ path('app_hospital_stay_checkin', {"hospitalStayId": stay.id}) }}"
                                    class="btn btn-outline-primary">
                                Entrer
                            </a>
                        {% endif %}</td>
                    <td>
                        <a href="{{ path('app_hospital_stay_details', {'hospitalStayId': stay.id}) }}">dossier</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h2>Sorties</h2>
    {% if exits is not empty %}
        <table class="table table-striped">

            <thead>
            <tr>
                <th>Nom</th>
                <th>Spécialité</th>
                <th>Statut</th>
                <th>Dossier</th>
            </tr>
            </thead>
            {% for stay in exits %}
                <tr>
                    <td>{{ stay.patient.fullName }}</td>
                    <td>{{ stay.medicalSpeciality }}</td>
                    <td>{% if stay.checkout %}
                            faite
                        {% else %}
                            <a
                                    href="{{ path('app_hospital_stay_checkout', {"hospitalStayId": stay.id}) }}"
                                    class="btn btn-outline-primary">
                                Sortir
                            </a>
                        {% endif %}</td>
                    <td>
                        <a href="{{ path('app_hospital_stay_details', {'hospitalStayId': stay.id}) }}">dossier</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
