{% extends 'base.html.twig' %}

{% block title %}Patients du jour{% endblock %}

{% block body %}

    <h1>Patients du jour</h1>

    <div class="row">

        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>

                    <th>Patient</th>
                    <th>Motif</th>
                    <th>Prescription</th>
                    <th>Avis</th>
                </tr>

                </thead>
                <tbody>
                {% for stay in stays %}
                    <tr>
                        <td>{{ stay.patient.fullName }}</td>
                        <td>{{ stay.reason }}</td>
                        <td>
                            {% if stay.todayPrescription is null %}
                                {# <a href="{{ path('') }}" >Prescrire</a> #}
                                <a href="#" >Prescrire</a>
                            {% else %}
                                <a href="#">Modifier la prescription {{ stay.todayPrescription.id }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if stay.todayMedicalOpinion is null %}
                                 <a href="{{ path('app_doctor_patients_today_medical_opinion') }}" >Donner un avis</a>
                            {% else %}
                                <a href="#">Modifier l'avis {{ stay.todayMedicalOpinion.id }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
