{% extends 'base.html.twig' %}

{% block title %}Patients du jour{% endblock %}

{% block body %}

    <h1>Patients du jour</h1>

    <div class="row">

        <div class="col">
            <table class="table table-striped table-hover">
                <thead>
                <tr>

                    <th>Patient</th>
                    <th>Motif</th>
                    <th>Prescription</th>
                    <th>Avis</th>
                </tr>

                </thead>
                <tbody>
                {% for stay in stays %}
                    <tr>
                        <td>{{ stay.patient.fullName }}</td>
                        <td>{{ stay.reason }}</td>
                        <td>
                            {% if stay.todayPrescription is null %}
                                <a href="{{ path('app_doctor_patients_today_prescription', {"patientId": stay.patient.id}) }}" >Prescrire</a>
                            {% else %}
                                {# {{ dump(stay.todayPrescription) }} #}
                                <a href="{{ path('app_doctor_patients_today_prescription', {"patientId": stay.patient.id, "prescriptionId": stay.todayPrescription.id}) }}" >
                                    Modifier la prescription
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if stay.todayMedicalOpinion is null %}
                                 <a href="{{ path('app_doctor_patients_today_medical_opinion', {"patientId": stay.patient.id}) }}" >Donner un avis</a>
                            {% else %}
{# {{ dump(stay.todayMedicalOpinion) }} #}
                                <a href="{{ path('app_doctor_patients_today_medical_opinion', {"patientId": stay.patient.id, "medicalOpinionId": stay.todayMedicalOpinion.id}) }}" >Modifier l'avis</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
